### Gradle ###
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/

### OS ###
.DS_Store
Thumbs.db

### Env ###
.env
.env.local
application-local.yml
